1 Johnson (2014) facet level 300 items/Old files/IPIP300.por
01 Johnson (2014) facet level 300 items/Old files/
02 HEXACO facet level/HEXACO/
02 HEXACO facet level/Old_files/
*.por
*.RData
*.zip
*.csv
